<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="overview.showId" value="true" />
    <add key="overview.showPath" value="true" />
    <add key="overview.showPropertyAlias" value="true" />
    <add key="events.preventDeletionOfLinkedContentNodes" value="true" />
    <add key="events.preventDeletionOfLinkedMediaNodes" value="true" />
  </appSettings>
</configuration>